services:
  postgres:
    image: postgres:16-alpine
    container_name: erp_postgres
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "4000:4000"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5


  fastapi:
    build:
      context: ./erpfastapi
      dockerfile: Dockerfile
    container_name: erp_fastapi
    restart: unless-stopped
    env_file:
      - .env
    environment:
      DATABASE_URL: ${FASTAPI_DATABASE_URL}
    ports:
      - "7000:7000"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:

