spring:
  application:
    name: ERP

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:oracle:thin:@//localhost:1521/FREEPDB1}
    username: ${SPRING_DATASOURCE_USERNAME:erp_user}
    password: ${SPRING_DATASOURCE_PASSWORD:erp_password}
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect
        format_sql: true

server:
  port: 8080
